description = "Navigation Bar"

[viewBag]

[staticMenu]
code = "frontend-menu"

[ProductCategory]
==
<div class="d-flex justify-content-between justify-content-sm-between shadow-md nav navbar fixed-top flex-row">
    <div class="navbar-overlay"></div>

    <div class="d-flex flex-grow-1 flex-md-grow-0 py-4 px-3 align-items-center justify-content-between ">
        <a class="mx-3 d-sm-flex d-lg-none text-dark" href="#flametree-side-drawer">
            <i class="fas fa-bars fa-1x"></i>
        </a>
        <a href="#" class="button nav-item-link mx-auto mx-md-3">
            <img src="{{ 'assets/images/logo.jpg' | theme }}" class="logo mx-md-3 "/>
        </a>
    </div>
    <div class="d-lg-flex flex-row justify-content-end mx-5 d-none align-items-baseline">
        {#        {{ staticMenu.menuItems | json_encode }}#}
        {% if staticMenu.menuItems %}
            {% for item in staticMenu.menuItems %}
                {% if not isHidden %}
                    {% if item.title == "Products" %}

                    <div class="nav-item py-4 px-3 {{ (item.items ) ? 'nav-dropdown' : null }}"
                         @mouseleave="$store.commit('Navbar/deactivateMegaMenu')"
                         @mouseover="$store.commit('Navbar/activateMegaMenu')">
                        <a class="nav-item-link" href="{{ item.url | app }}">{{ item.title }}</a>

                        {% if item.items and item.title != "Products" %}
                            <div class="nav-dropdown-menu  flex-column" >
                                {% for dropdownItem in item.items %}
                                    <a href="{{ dropdownItem.url }}" class="nav-item-dropdown-menu-item px-3  py-3">
                                        {{ dropdownItem.title }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {% else %}
                        <div class=" nav-item py-4 px-3 {{ (item.items ) ? 'nav-dropdown' : null }}">
                            <a class="nav-item-link" href="{{ item.url | app }}">{{ item.title }}</a>

                            {% if item.items and item.title != "Products" %}
                                <div class="nav-dropdown-menu  flex-column">
                                    {% for dropdownItem in item.items %}
                                        <a href="{{ dropdownItem.url }}" class="nav-item-dropdown-menu-item px-3  py-3">
                                            {{ dropdownItem.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                    {% endif %}


                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div  :class="($store.getters['Navbar/currentMegaMenuState']) ? 'd-flex mega-menu-slideout' : 'd-none'"
         @mouseleave="$store.commit('Navbar/deactivateMegaMenu')"
         @mouseenter="$store.commit('Navbar/activateMegaMenu')">

        {% component 'ProductCategory' %}
    </div>

<div id="flametree-side-drawer">
    {% if staticMenu.menuItems %}
        <ul>
            {% for item in staticMenu.menuItems %}
                {% if not isHidden %}

                    {% if item.title == "Products" %}
                        <li>
                            <a href="#">Products</a>
                            <ul>

                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                            {% if item.items and item.title != "Products" %}
                                <ul>
                                    {% for dropdownItem in item.items %}
                                        <li>
                                            <a href="{{ dropdownItem.url }}">
                                                {{ dropdownItem.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
