<style type="text/css">
    :root {
        --primary-color-hex: {{ this.theme.primaryColor }};
        --primary-color-rgba:{{ this.theme.primaryColorRGB }};
        --accent-color-rgba:{{ this.theme.accentColorRGB }};
        --accent-color-hex: {{ this.theme.accentColor }};
        --white-color-hex: {{ this.theme.whiteColor }};
        --dark-color-hex: {{ this.theme.darkColor }};
        --light-dark-color-hex: {{ this.theme.lightDarkColor }};
        --light-silver-color-hex: {{ this.theme.lightSilverColor }};
    }
</style>
