<div class="d-flex flex-row flex-wrap shadow bg-white p-2 my-3 col-lg-6 col-11">
        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
        {% partial __SELF__ ~ '::thumbnail' result = result %}
        </div>
{#    {% if result.meta.featured_image != "" %}#}
{#        <div class="d-flex flex-grow-1">#}
{#            <div  src="{{result.meta.featured_image  }}" alt="" class="h-25 w-100">#}

{#        </div>#}
{#    {% endif %}#}
    <div class="col-12 col-lg-8 d-flex flex-column flex-grow-1 my-3 justify-content-between">
        {% partial __SELF__ ~ '::content' result = result %}
    </div>
</div>


