title = "Membership Login"
url = "/membership/login"
layout = "auth"
description = "Flametree Community Volunteer Portal Login"
is_hidden = 0
meta_title = "Membership Login"
meta_description = "Membership login page."
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
og_title = "Membership Login"
og_description = "Membership login page."
og_type = "website"

[account]
redirect = "volunteer/dashboard"
paramCode = "code"
forceSecure = 0
requirePassword = 0

[session]
security = "all"
allowedUserGroups[] = "guest"
redirect = "volunteer/dashboard"
==
{% put seo %}
    {% partial "site-title/main"  %}

    <meta name="description" content="{{ this.page.meta_description }}"/>
    <meta property="og:type" content="article" />

    <meta property="og:description" content="{{  this.page.meta_description  }}" />
    <meta property="og:url" content="{{ '' | page }}" />
    <meta property="og:locale" content="en-GB" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{  this.page.meta_description }}">

    <meta property="twitter:image" content="{{ (this.theme.companyCardImage) ? this.theme.companyCardImage | media : 'assets/images/flametree-company-card-image.jpg' | theme }}" />
    <meta property="og:image" content="{{ (this.theme.companyCardImage) ? this.theme.companyCardImage | media : 'assets/images/flametree-company-card-image.jpg' | theme }}" />

    <meta name="robots" content="index/follow"/>
    <meta name="keywords" content="flametree coop membership login"/>
{% endput %}

{% put styles %}
<style>
    .bg-auth {
    {% if this.theme.login_page_bg_image == "" %}
        background-image:  linear-gradient(30deg, white, darkgray), url({{ 'assets/images/auth.jpg' | theme }});
    {% else %}
        background-image:  linear-gradient(30deg, white, darkgray), url({{ this.theme.login_page_bg_image | media }});
    {% endif %}
        transform: scale(1.05);
        background-size: contain;
        background-repeat: round;
        width: 100%;
        background-blend-mode: multiply;
    }
</style>
{% endput %}

{{ form_ajax('onSignin' ,  { 'class' : 'd-flex flex-column flex-grow-1 mx-5 mx-md-0',  'data-request-validate' : true, 'data-request-flash': true }) }}
            {% if get('success') %}
                <div class="alert alert-success">
                    <p>{{ get('success') }}</p>
                </div>
            {% endif %}

<h2 class="text-primary headline-light-bold small py-2">Account Login</h2>



<div class="text-field-control my-1">
    <label for="volunteer_login_email">EMAIL</label>

    <input name="login" id="volunteer_login_email" type="text" class="text-field"/>

</div>

<small class="text-danger" data-validate-for="login"></small>

<div class="text-field-control my-1">
    <label for="volunteer_login_password">PASSWORD</label>

    <input name="password" id="volunteer_login_password" type="password" class="text-field"/>

</div>
<small class="text-danger" data-validate-for="password"></small>

<div class="d-flex flex-row justify-content-between my-2">
    <a href="{{ 'login/volunteer-forgot' | page }}" class="text-link">Forgot Your Password?</a>

    <a href="{{ 'signup/volunteer-signup' | page }}" class="text-link">Create a new account</a>
</div>
<button class="btn btn-primary rounded w-100 my-3">LOG IN</button>

{{ form_close() }}
