.announcements {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.65)), url("/themes/flametree-theme/assets/images/contact.jpg") ;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
