{% if results.count %}
    <strong class="text-muted text-uppercase p-3">Suggestion For You</strong>
    {% for result in results | slice(0, __SELF__.autoCompleteResultCount) %}
        {# Display results #}
        {% partial __SELF__ ~ '::searchresult.htm' result = result query=query %}
        <hr class="separator">

    {% endfor %}

    {% if __SELF__.searchPage %}
        <div class="d-flex p-2">
            <a  class="text-link" href="{{ __SELF__.searchPage | page }}?q={{ query | url_encode(true) }}">
                Show all results <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    {% endif %}
{% else %}
    <strong class="text-muted text-uppercase p-3">Your search query doesn't match anything...</strong>
{% endif %}
