//Theme Coloring

$primaryColor : #f05033;
$accentColor: #F7B733;


// Typography font
$headlineFont: "Lato Black", sans-serif;

$white: #ffffff;
$dark: #373A3C;
$light-dark: #707070;
$light-silver: rgb(189, 189, 189, 0.5);

$alert-success : #48c774;
$alert-danger: #f14668;
$alert-warning: #ffdd57;
