


// Typography font
$headlineFont: "Lato Black", sans-serif;

$white: var(--white-color-hex);
$dark: var(--dark-color-hex);
$light-dark: var(--light-dark-color-hex);
$light-silver: var(--light-silver-color-hex);

$alert-success : #48c774;
$alert-danger: #f14668;
$alert-warning: #ffdd57;

$primaryColor:  var(--primary-color-hex);
$accentColor: var(--accent-color-hex);

