html  , body {
    overflow-x: hidden;
}
@import "variable";
@import "util";
@import "typography.scss";
@import "./navbar.scss";

@import "home/_who_we_are.scss";
@import "home/_our_producers.scss";
@import "home/_announcements.scss";

.error-page {
    p {
        font-family:'Nunito' , sans-serif; font-size: 14pt;
        color: $primaryColor;
    }
}
@import "footer.scss";
