html  , body {
    overflow-x: hidden;
}
body {
    min-height: 480px;

}
@import "variable";
@import "util";
@import "typography.scss";
@import "./navbar.scss";

@import "home/_who_we_are.scss";

.mm-slideout {
    z-index: auto;
}

.lozad {
    transition: opacity 2100ms;
    &.loading {
        opacity: 0.65;
    }
    &.loaded{
            opacity: 1;


        }

}



.error-page {
    p {
        font-family:'Nunito' , sans-serif; font-size: 14pt;
        color: $primaryColor;
    }
}
@import "footer.scss";
