.flametree-mega-footer {
    .stripe {
        background-image: linear-gradient( 30deg, rgb(var(--primary-color-rgba)), rgb( var(--accent-color-rgba)));
        height:5px;
        display: flex;
    }
    .mega-footer-header {
        font-family: 'Lato', 'sans-serif';
        font-size: 12pt;
        color: $primaryColor;
    }
    .operating-hour ul {
       list-style-type: none;
        margin-left:0;
        padding-left: 0;

    }
    ul.mega-footer-menu-list {
        list-style-type: none;
        margin-left:0;
        padding-left: 0;
        line-height:0;
        li a.mega-footer-link {
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Lato', 'sans-serif';
            font-size: 11pt;
            color: $dark;
            transition: all 0.25s;
            &:hover {
                color: $accentColor;

            }
        }
    }

    .social-link a {
        color: $dark;
        transition: all 0.25s;
        &:hover {
            color: $primaryColor;
        }
    }
    .business-contact {
        i {
            color: $primaryColor;
        }

        p {
            font-family: 'Lato', sans-serif;
        }
    }
    .credit-message {
        text-align: center;
        font-family: 'Lato', sans-serif;
        a {
            text-decoration: none;
            color: $primaryColor;
            transition: all 0.25s;
            &:hover {
                color: $accentColor;
            }
        }
    }

}
