.mega-menu {
    padding-top: 65px;

    position: fixed;
    left: 0;
    right: 0;
    z-index:100;
    background: white;
}
.mega-menu .nav-link {
    color: black;
}
.mega-menu .nav-link.active {
    background-color:  #F05033 ;
}

.mega-menu .menu-item {
    padding:15px;
    text-decoration:none;
    font-family: "Nunito" , sans-serif;
}
.mega-menu .menu-item  i {
    color:#F05033 ;
}

.mega-menu .menu-item:hover   {
    background-color:#F05033;
    div , i {
        color:white;
    }
    border-radius: 10px;

}

.mega-menu-slideout .mega-menu.shadow-lg {
    animation-name: slideInDown;
    animation-duration: 0.85s;
    animation-fill-mode: forwards;
    min-height: 50%;

}

.mega-menu-slideout .mega-menu .d-flex {

    opacity: 1;
    height: auto;
    transition: all 0.85s;
}

