

.mega-menu {
    padding: 10rem 0 10rem 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:10;
    background: white;
    height: 30rem;

}
.mega-menu .menu-items {
    overflow-y: scroll;
    max-height:16rem;
}
.mega-menu .nav-link {
    color: black;
}
.mega-menu .nav-link.active {
    background-color: $primaryColor ;
}

.mega-menu .menu-item {
    padding:15px;
    text-decoration:none;
    font-family: "Nunito" , sans-serif;
}
.mega-menu .menu-item  i {
    color:$primaryColor ;
}

.mega-menu .menu-item:hover   {
    background-color:$primaryColor;
    div , i {
        color:white;
    }
    border-radius: 10px;

}

 .mega-menu.shadow-lg.mega-menu-slideout {
    animation-name: slideInDown;
    animation-duration: 0.85s;
    animation-fill-mode: forwards;
    min-height: 50%;

}

.mega-menu-slideout .mega-menu .d-flex {

    opacity: 1;
    height: auto;
    transition: all 0.85s;
}
