
.nav.hamburger-menu .line {
    border-bottom: 1pt solid gray;
    height: 15px;
}

.nav.navbar .navbar-overlay {

    z-index:0;
    background: rgba(255,255,255,0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.nav.navbar .navbar-overlay:before {
    content: " ";
    background: inherit;
    position: absolute;

    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(150px);
}


.nav.navbar {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding:0;

    z-index: 150;
}
.nav.navbar .logo {
    height: 55px;
    transform: scale(3.5);
}

.nav.navbar .nav-item {
    z-index:1;

    display: inline-block;
    padding: inherit;
    .nav-item-link {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 11pt;

    }

}
.nav.navbar .nav-item:hover  {
    animation-name: navBarItemAnimation;
    animation-duration: 0.85s;
    animation-direction: normal;

    .nav-item-link {
        color: $primaryColor;
    } // scss syntax need to compile
}
// dropwdown section
.nav.navbar .nav-item .nav-dropdown {
    float:left;
}

.nav.navbar .nav-item  .nav-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;


}

.nav.navbar .nav-item.nav-dropdown:hover  {
    .nav-dropdown-menu {
        display: flex;
        animation-name: animateDropdownMenu;
        animation-duration: 0.45s;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
    .nav-dropdown-menu-mega-menu {
        display: block;
    }
}

.nav.navbar .nav-item .nav-dropdown-menu-mega-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 110vw;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:-60vw;
    z-index: 1;
    right:0;
    animation-name: navbarDropwDownMenuFadeUp;
    animation-duration: 0.45s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}

.nav-dropdown-menu {
    .nav-item-dropdown-menu-item {
        text-decoration: none;
        color:black;
        border-radius: 10px 10px 10px 10px;
    }
    .nav-item-dropdown-menu-item:hover {
        color:$white;
        background: $primaryColor;
    }
}

@keyframes navBarItemAnimation {
    from {
        opacity: 0;


    }
    to {
        opacity: 1;

    }
}


@keyframes animateDropdownMenu {
    from {
        opacity:0;
        transform: translate(-15px,0px);

    }

    to {
        opacity: 1;
        transform: translate(-15px,15px);

    }
}



@import "mega-menu";
