


.flametree-theme{
    .text-primary {
        color: $primaryColor !important;
    }

    .text-accent {
        color: $accentColor !important;
    }

    .text-link {
        text-decoration: none;
        color: $primaryColor;
        transition: 0.25s all;
        &:hover {
            color: $accentColor;
        }
    }

    .heading {
        font-family: 'Lato' , sans-serif;
        font-weight: bold;
        &.tiny {
            font-size: 12pt;
        }
        &.small {
            font-size: 24pt;
        }

        &.huge {
            font-size: 72pt ;
        }
    }

    .headline-light {
        font-family: 'Lato Black' , sans-serif;
        font-size: 32pt;

        &.text-primary {
            color: $primaryColor !important;
        }
        &.tiny {
            font-size: 12pt;
        }
        &.small {
            font-size: 24pt;
        }

        &.huge {
            font-size: 72pt ;
        }
    }

    .headline-light-bold {
        font-family: 'Lato Bold',sans-serif;
        font-size: 32pt;
        &.text-primary {
            color: $primaryColor !important;
        }
        &.tiny {
            font-size: 12pt;
        }
        &.small {
            font-size: 18pt;
        }
        &.medium {
            font-size: 24pt;
        }
        &.huge {
            font-size: 72pt ;
        }
    }

    .text-dark {
        color: #373A3C;
    }

    .post-title {

        font-family: "Baskerville", sans-serif;
        font-size:24pt;
        &.big {
            font-size:36pt;
        }

        &.small {
            font-size: 16pt;
        }
    }

    .post-published-at {
        font-family: "Baskerville", sans-serif;

        &.big {
            font-size:18pt;
        }

        &.small {
            font-size: 12pt;
        }
    }

    .post-description {
        font-family: 'Lato', sans-serif;
        color: $light-dark;
    }

    .post-author {
        font-family: 'Lato', sans-serif;
        font-weight: 300;

    }

    .text-font-nunito {
        font-family: 'Nunito', sans-serif;
    }
}
