@import "variable";
.flametree-theme {
    .godspeed-slide {

        .slide-title {
            font-family: "Lato Black", sans-serif;
            font-size: 24pt;
            color:white;
            max-width: 65%;
        }

        .slide-caption {
            font-family: "Lato" , sans-serif;
            font-size:18pt;
            color:white;
        }


        @media only screen and (max-width: 480px) {
            .slide-title {
                transform: scale(0.8);
                max-width: 100%;

            }

            .btn-full {
                width: 100%;
            }

        }

    }


    /** Button Classes**/

    .btn {
        &.hover-move-right:hover {

            .fas {
                transform: translateX(10px);
                transition: all 0.25s;

            }
        }

        &.btn-primary {
            background-color: $primaryColor !important;
            border: 0.75pt solid $primaryColor;
            text-transform: uppercase;
            border-radius: 0;

            &:hover {
                color: $primaryColor !important;
                background-color:  $white !important;
                border: 0.75pt solid $primaryColor;
            }
        }


        &.btn-outline-primary {
            border-color: $primaryColor !important;
            color: $primaryColor !important;
            border-radius: 0;

            &:hover {
                color: $white !important;
                background-color: $primaryColor !important;

            }
        }

        &.btn-outline-default {
            border-color: $white;
            color: $white;
            border-radius: 0;

            &:hover {
                color: $primaryColor !important;
                background-color: $white !important;

            }
        }

    }

    .title-link {
        font-family: 'Lato Black', sans-serif;
        text-decoration: none;

        &.big {
            color: $white;
            font-size: 16pt;
        }
        &.hover-move-right:hover {

            .fas {
                transform: translateX(10px);
                transition: all 0.25s;

            }
        }

    }




}
