@import "variable";
.flametree-theme {
    .godspeed-slide {

        .slide-title {
            font-family: "Lato Black", sans-serif;
            font-size: 24pt;
            color:white;
            max-width: 65%;
        }

        .slide-caption {
            font-family: "Lato" , sans-serif;
            font-size:18pt;
            color:white;
        }


        @media only screen and (max-width: 480px) {
            .slide-title {
                transform: scale(0.8);
                max-width: 100%;

            }

            .btn-full {
                width: 100%;
            }

        }

    }


    /** Button Classes**/

    .btn {
        &.hover-move-right:hover {

            .fas {
                transform: translateX(10px);
                transition: all 0.25s;

            }
        }

        &.btn-primary {
            background-color: $primaryColor !important;
            border: 0.75pt solid $primaryColor;
            text-transform: uppercase;
            border-radius: 0;

            &:hover {
                color: $primaryColor !important;
                background-color:  $white !important;
                border: 0.75pt solid $primaryColor;
            }
        }


        &.btn-outline-primary {
            border-color: $primaryColor !important;
            color: $primaryColor !important;
            border-radius: 0;

            &:hover {
                color: $white !important;
                background-color: $primaryColor !important;

            }
        }

        &.btn-outline-default {
            border-color: $white;
            color: $white;
            border-radius: 0;

            &:hover {
                color: $primaryColor !important;
                background-color: $white !important;

            }
        }

    }

    .title-link {
        font-family: 'Lato Black', sans-serif;
        text-decoration: none;

        &.big {
            color: $white;
            font-size: 16pt;
        }
        &.hover-move-right:hover {

            .fas {
                transform: translateX(10px);
                transition: all 0.25s;

            }
        }

    }
    .text-field-control{
        display: inline-block;
        width: 100%;
        border-width: 0.75px;
        border-style: solid;
        border-color: rgba(0,0,0, 0.24);
        outline: grey;
        border-radius: 5pt;
        label {
            display: block;
            font-family: 'Lato Bold', sans-serif;
            color: gray;
            padding: 10px;
            font-size: 9pt;
            line-height: 0px;
            margin: 0;
            text-align: left;

        }

        &:focus-within {
                border-color: $primaryColor;
                label {
                    color: $primaryColor;
                }

        }
        .text-field {
            border: none;
            padding: 10px;
            width: 100%;
            background: transparent;
            height: auto;
            line-height: 0px;

            &::placeholder {
                text-transform: uppercase;
                font-size: 10pt;
                font-family: "Lato Bold", sans-serif;


            }
            &:focus {
                outline: none;




            }
        }
    }




}
