@import "variable";

@keyframes animateDropdownCard {
    from {
        opacity: 0;
        transform: translateY(-10px);

    }
    to {
        opacity: 1;
        transform: translateY(5px);
    }
}
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $accentColor;
        margin: 1em 0;
        padding: 0;
    }
    .bg-primary {
        &-light {
            background-color: $primaryColor;

            color: white;
        }
    }
    //dropdown class
    .dropdown-card {
        padding: 10px;
        position: relative;
        .dropdown-card-item {
            display: inline;
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-size: 11pt;
        }
        .dropdown-card-menu {
            transition: all 0.5s;

            &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            border-radius: 10px;
            min-width: 250px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index:1;

            animation-name: animateDropdownCard;
            animation-duration: 0.45s;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            .dropdown-card-menu-item {
                min-width: 320px;
                min-height: 50px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                strong {
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    font-size: 12pt;
                }
                &.no-separator {
                    border-bottom: none !important;
                }
                &:not(:last-child) {

                    border-bottom: 0.15pt solid silver;
                }


                &:not(.no-separator):hover {
                    background-color: $light-silver;
                }


            }
        }
        &:hover {
            .dropdown-card-menu {
                display: flex;

            }
        }
    }
    .alert  {
        padding: 25px;
        border-radius: 0;
        outline: none;
        border: none;

        p {
            margin: auto 0 auto 0;
        }
        &.alert-primary {
            background-color: $primaryColor;
            color: $white;
        }
        &.alert-danger {
            background-color: $alert-danger;
            color: $white;

        }
        &.alert-warning {
            background-color: $alert-warning;
            color: $dark;
        }

        &.alert-success {
            background-color: $alert-success;
            color: $white;

        }
    }
    .godspeed-slide {

        .slide-title {
            font-family: "Lato Black", sans-serif;
            font-size: 24pt;
            color:white;
            max-width: 65%;
        }

        .slide-caption {
            font-family: "Lato" , sans-serif;
            font-size:18pt;
            color:white;
        }


        @media only screen and (max-width: 480px) {
            .slide-title {
                transform: scale(0.8);
                max-width: 100%;

            }

            .btn-full {
                width: 100%;
            }

        }

    }

    //hero class

    .hero {
        display: flex;
        height:320px;
        .hero-title {
            font-family: 'Lato Black', sans-serif;
            color: $white;
        }
        .hero-subheading {
            font-family: 'Lato', sans-serif;
            color: $white;
        }
    }

    .post-card {
        width:95%;
        max-width: 1280px;

        &.absolute {
            transform: translateY(-50px);
            z-index: 1;
        }

        .post-html {
            img {
               max-width: 100%;
            }
            p {

                word-break: break-word;

            }
        }
    }

    .post-list-view {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 480px;
        scroll-behavior: smooth;
        overflow-y: scroll;
        p.post-excerpt {
            word-break: break-word;
            word-wrap: break-word;

        }

        .post-list-item {
            width: 98%;
            &.separator {
                border-bottom: 0.75pt solid grey;

            }
        }
    }

    /** Button Classes**/

    .btn {
        &.hover-move-right:hover {

            .fas {
                transform: translateX(5px);
                transition: all 0.25s;

            }
        }

        &.btn-primary {
            background-color: $primaryColor !important;
            border: 0.75pt solid $primaryColor;
            text-transform: uppercase;
            border-radius: 0;

            &:hover {
                color: $primaryColor !important;
                background-color:  $white !important;
                border: 0.75pt solid $primaryColor;
            }
        }


        &.btn-primary-basic {
            background-color: $primaryColor !important;
            border: 0.75pt solid $primaryColor;
            text-transform: uppercase;
            border-radius: 0;
        }


        &.btn-outline-primary {
            border-color: $accentColor !important;
            color:$accentColor !important;
            border-radius: 0;

            &:hover {
                color: $white !important;
                background-color: $primaryColor !important;
                border-color: $primaryColor !important;

            }
        }

        &.btn-outline-default {
            border-color: $white;
            color: $white;
            border-radius: 0;

            &:hover {
                color: $primaryColor !important;
                background-color: $white !important;

            }
        }

        &.btn-pill {
            border-radius: 10pt;
        }

        &.btn-light {
            color: $primaryColor !important;
            background: $white !important;
            border:none !important;

            &:hover {
                color:$white !important;
                background: $primaryColor !important;
            }
        }

        &.btn-light-inversed {
            color: $white;
            background: $primaryColor;
        }

        &.btn-action {
            font-family: 'Lato Bold', sans-serif;
            text-decoration: none;
            color: $primaryColor;
        }

    }

    .title-link {
        font-family: 'Lato Black', sans-serif;
        text-decoration: none;

        &.big {
            color: $white;
            font-size: 16pt;
        }
        &.hover-move-right:hover {

            .fas {
                transform: translateX(10px);
                transition: all 0.25s;

            }
        }

    }

    // form class
    .checkbox-field-control {
        display: flex;
        width: 100%;

        align-items: baseline;


        outline: none;

        transition: all 0.25s;
        label {
            display: block;
            font-family: 'Lato Bold', sans-serif;
            color: gray;
            font-size: 10pt;
            line-height: 0px;
            margin: 0 5px 0 5px;
            text-align: left;

        }

    }


    .text-field-control{
        display: inline-block;
        width: 100%;
        border-width: 0.75px;
        border-style: solid;
        border-color: rgba(0,0,0, 0.24);
        outline: none;
        border-radius: 5pt;
        transition: all 0.25s;
        &.has-error {
            border-color: $alert-danger;
            label {
                color: $alert-danger;
            }
        }
        label {
            display: block;
            font-family: 'Lato Bold', sans-serif;
            color: gray;
            padding: 15px 10px 10px 10px;
            font-size: 9pt;
            line-height: 0px;
            margin: 0;
            text-align: left;

        }

        &:focus-within {
                border-color: $primaryColor;
                label {
                    color: $primaryColor;
                }


        }
        .text-field {

            border: none;
            padding: 5px 10px 5px 10px;
            width: 100%;
            background-color: transparent;
            height: auto;
            line-height: 0px;
            box-shadow: none;

            &::placeholder {
                text-transform: uppercase;
                font-size: 10pt;
                font-family: "Lato Bold", sans-serif;


            }
            &:focus {
                outline: none;




            }

            &.toggle-show-password {
                content: '<i class="fas fa-eye"></i>';
                display: block;
            }
        }
    }

    // pagination class
    ul.pagination {
        li {
            border-radius: 50%;
            height:35px;
            width: 35px;
            line-height: 35px;

            text-align: center;
            &.active {
                background-color: $primaryColor;
                color: white;
            }
            a {
                text-decoration: none;
                color:$primaryColor;


            }

            &:hover {
                background-color: $light-silver;
                color: $primaryColor;
            }
        }
    }

    .bar-primary:after {
           content: '';

            min-height: 15px;
            max-width: 55%;
            display: block;
            border-bottom: 5pt solid $primaryColor;

   }


    // Panel Header class

    .panel-header {
        &-primary {
            padding:10px;

            color: $white;
            background-color: $primaryColor;
        }
    }

    // pill class
    .pill {
        padding: 0.55rem;
        border-radius: 50rem;
        border: 0.65px solid lightgrey;

        &.pill-primary {
            &-light {
                background-color: $white;
                color: $primaryColor;
            }

            &-dark {
                color: $white;
                background-color: $primaryColor;
            }
        }

    }
