title = "Announcements | Flame Tree Community Food Co-Op"
url = "/announcements"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/announcement"
postPage = "blog/announcement"
==
<?php
use GodSpeed\FlametreeCMS\Policies\PortalBlogPostsPolicy;

use GodSpeed\FlametreeCMS\Policies\PortalBlogCategoriesPolicy;

function onStart(){
    $this['currentPage'] = $this->page;
    PortalBlogPostsPolicy::guard();
    PortalBlogCategoriesPolicy::guard();

}


==
<hero

    background-image="{{ "home-gardening-young-rucola-top-view-6427.jpg"  | media | resize(640,null, {blur: 15 })}}"
    background-image-data="{{ "home-gardening-young-rucola-top-view-6427.jpg"  | media }}"

>
        <h1 class="hero-title text-uppercase m-auto align-self-center">Announcements</h1>
</hero>

<div class="d-flex flex-column  flex-wrap">


    {% put tabs %}
        {% partial "components/tab"
            icon="fa-list"
            link=('blog/announcements' | page )
            title="ANNOUNCEMENTS"
            isActive=  currentPage.baseFileName == 'blog/announcements'
        %}
        {% partial "components/tab"
            icon="fa-cubes"
            link=( 'blog/announcement-categories' | page )
            title="CATEGORIES"
            isActive= currentPage.baseFileName == 'blog/announcements-categories'
        %}
    {% endput %}
    {% partial "components/tabs" %}

    {%  if blogPosts.posts %}
        {% for announcement in blogPosts.posts %}
            <announcement-list-card
                key="{{ announcement.id }}"
                class="col-11 col-md-10 col-lg-9"
                title="{{ announcement.title }}"
                featured-image-url="{{( announcement.featured_images is not empty ) ? announcement.featured_images[0].getPath() | resize(640, null) : null }}"
                data-featured-image-url="{{( announcement.featured_images is not empty  ) ? announcement.featured_images[0].getPath()  : null }}"
                description="{{ str_words(announcement.summary, 20) }}"
                author="{{ announcement.user.full_name }}"
                author-avatar-image="{{ announcement.user.getAvatarThumb(35) }}"
                author-role="{{ announcement.user.role.name }}"
                :published-on="$tzConverter.convert('{{  announcement.published_at }}', 'dddd, MMM D Y hh:mm a')"
            >
                <div class="d-flex flex-column flex-wrap justify-content-between mt-5">
                    {% if announcement.categories is not empty %}
                        <div class="d-flex align-items-center flex-row">
                            <i class="text-primary fas fa-tags mr-2"></i>
                            {% for index, category in announcement.categories %}
                                <a target="_blank" class="text-link" href="{{ 'blog/announcement-category' | page({category: category.slug}) }}">
                                    {{ category.name }}
                                </a>
                                {% if index != announcement.categories | length -1 %}
                                    <span>,&nbsp;</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <a data-cy="announcement-{{ announcement.title }}" class="btn btn-primary text-uppercase hover-move-right my-2 rounded" href="{{ "blog/announcement" | page({slug: announcement.slug}) }}">
                        READ MORE
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </announcement-list-card>

        {% endfor %}

        <div class="col-12 col-md-10 col-lg-9 align-self-center">
            <dropdown-pagination
                current-page="{{ posts.currentPage() }}"
                page-param="page"
                per-page="{{ posts.perPage() }}"
                prev-page-url="{{ posts.previousPageUrl() }}"
                next-page-url="{{ posts.nextPageUrl() }}"
                url="{{ this.page.url | app }}"
                total="{{ posts.total() }}"
                @change="(e) => {
                    $window.location.href = e.target.value;
                }"
            >

            </dropdown-pagination>
        </div>


    {% else %}

        {{ blogPosts.noPostsMessage}}

    {%  endif %}
    </div>

