title = "Announcements | Flame Tree Community Food Co-Op"
url = "/announcements"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/announcement"
postPage = "blog/announcement"
==
<?php


function onEnd(){
    $this['currentPage'] = $this->page;
}


==
<hero

    background-image="{{ "home-gardening-young-rucola-top-view-6427.jpg"  | media | resize(640,null, {blur: 15 })}}"
    background-image-data="{{ "home-gardening-young-rucola-top-view-6427.jpg"  | media }}"

>
        <h1 class="hero-title text-uppercase m-auto align-self-center">Announcements</h1>
</hero>

<div class="d-flex flex-column align-content-around flex-wrap mx-4 flametree-theme">
    {% partial 'tabs/announcement-tab' %}
    {%  if blogPosts.posts %}
        {% for announcement in blogPosts.posts %}
            <announcement-list-card
                key="{{ announcement.id }}"

                title="{{ announcement.title }}"
                featured-image-url="{{ announcement.featured_images[0].getLocalPath() | resize(640, null) }}"
                data-featured-image-url="{{ announcement.featured_images[0].path }}"
                description="{{ str_words(announcement.summary, 20) }}"
                author="{{ announcement.user.full_name }}"
                author-avatar-image="{{ announcement.user.getAvatarThumb(35) }}"
                author-role="{{ announcement.user.role.name }}"
                published-on="{{ announcement.published_at | date("D, d M Y. h:i a") }}"
            >
                <div class="d-flex flex-column flex-wrap justify-content-between mt-5">
                    {% if announcement.categories is not empty %}
                        <div class="d-flex align-items-center flex-row">
                            <i class="text-primary fas fa-tags mr-2"></i>
                            {% for index, category in announcement.categories %}
                                <a target="_blank" class="text-link" href="{{ 'blog/announcement-category' | page({category: category.slug}) }}">
                                    {{ category.name }}
                                </a>
                                {% if index != announcement.categories | length -1 %}
                                    <span>,&nbsp;</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <a class="btn btn-primary text-uppercase hover-move-right my-2 rounded" href="{{ "blog/announcement" | page({slug: announcement.slug}) }}">
                        READ MORE
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </announcement-list-card>

        {% endfor %}

        <div class="d-flex justify-content-around mx-5">
            <dropdown-pagination
                current-page="{{ posts.currentPage() }}"
                page-param="page"
                per-page="{{ posts.perPage() }}"
                prev-page-url="{{ posts.previousPageUrl() }}"
                next-page-url="{{ posts.nextPageUrl() }}"
                url="{{ this.page.url | app }}"
                total="{{ posts.total() }}"
                @change="(e) => {
                    $window.location.href = e.target.value;
                }"
            >

            </dropdown-pagination>
        </div>


    {% else %}

        {{ blogPosts.noPostsMessage}}

    {%  endif %}



</div>
