title = "Announcement"
url = "/announcement/:slug"
layout = "main"
is_hidden = 0
canonical_url = "http://thlee.synology.me"
robot_index = "index"
robot_follow = "follow"

[blogPost post]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[SeoBlogPost]
post = "post"
==
<?php
use GodSpeed\FlametreeCMS\Policies\PortalBlogPostPolicy;

function onStart(){
    PortalBlogPostPolicy::guard();

}
function onEnd(){
       $this->page->title = $this->page->components['post']->post->title . " | Flame Tree Community Food Co-Op";
}
?>
==
{% put meta %}
    {% default %}
    <meta property="og:type" content="article"/>
    {% if post.powerseo_redirect_url %}
        <meta http-equiv="refresh" content="0; url={{post.powerseo_redirect_url}}" />
    {% endif %}

    {% if post.powerseo_title %}

        <title>{{ post.powerseo_title | generateTitle}}</title>
    {% else %}

        <title>{{ post.title | generateTitle }}</title>
    {% endif %}

    {% if post.powerseo_description %}
        <meta name="description" content="{{post.powerseo_description}}">
    {% else %}
        <meta property="og:description" content="{{post.excerpt}}">

    {% endif %}

    {% if post.powerseo_keywords %}
        <meta name="keywords" content="{{post.powerseo_keywords}}">
    {% endif %}

    {% if post.powerseo_canonical_url %}
        <link rel="canonical" href="{{post.powerseo_canonical_url}}" />
    {% else %}
        {{ '' | generateCanonicalUrl}}
    {% endif %}
    {% if post.featured_images %}
        <meta property="og:image" content="{{post.featured_images[0].path}}"/>
    {% endif %}

    <meta name="robots" content="{{post.powerseo_robot_index}},{{post.powerseo_robot_follow}}">

    {{ ''|otherMetaTags|raw }}

    {{ post|generateOgTags }}
{% endput %}

<hero gradient-color="linear-gradient(0deg, rgba(var(--primary-color-rgba),0.2), rgba(var(--accent-color-rgba),0.8))"
      background-image-data="{{ post.featured_images[0].getPath()  }}"
      background-image="{{ post.featured_images[0].getLocalPath()  | resize(640, null, {quality: 35, blur: '15'}) }}"
>
</hero>

<div class="flametree-theme">

<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-column bg-light shadow rounded-lg p-md-5 p-3   post-card absolute">
        <div class="d-flex">
            <a href="{{ 'blog/announcements' | page }}" class="text-link my-3">
                <i class="fas fa-arrow-left"></i>
                Back To All Announcements </a>
        </div>
        <div class="d-flex flex-row justify-content-between" data-cy-announcement-id="{{ post.id }}" data-cy="announcement">
            <div class="d-flex flex-column">
                <h2 class="post-title">{{ post.title }}</h2>
                <h5 class="post-published-at small" v-text="$tzConverter.convert('{{  post.published_at }}', 'dddd, MMM D Y hh:mm a')"></h5>
            </div>


        </div>
        <div class="d-flex flex-row justify-content-start my-2">
            <img src="{{ post.user.getAvatarThumb(50) }}" alt="" class="rounded-circle">
            <div class="d-flex flex-column mx-2">
                <strong class="post-author">
                    {{ post.user.full_name }}
                </strong>
                <strong class="text-uppercase">
                    {{ post.user.role.name }}
                </strong>
            </div>

        </div>
        <div class="post-html mt-5">
            {{ post.content_html | raw }}
        </div>

    </div>
    <social-button
    ></social-button>
</div>
</div>
