{% if showPasswordForm == "on" %}
    <div class="animated fadeIn d-flex flex-column flex-wrap">
        <div class="text-field-control my-1">
            <label for="current_password" class="text-uppercase">Current Password </label>
            <input type="password" id="current_password" name="current_password" class="text-field">
        </div>
        <small class="text-danger" data-validate-for="current_password"></small>

        <div class="text-field-control my-1">
            <label for="new_password" class="text-uppercase">New Password</label>
            <input type="password" id="new_password" name="new_password" class="text-field">
        </div>
        <small class="text-danger" data-validate-for="password"></small>

        <div class="text-field-control my-1">
            <label for="new_password_confirmation" class="text-uppercase">New Password Confirmation</label>
            <input type="password" id="new_password_confirmation" name="new_password_confirmation" class="text-field">
        </div>
        <small class="text-danger" data-validate-for="password_confirmation"></small>

    </div>

{% endif %}
